{% extends 'personal_portfolio/base.html' %}
{% block about %}
<div class="w-100">
    <h1 class="mb-0">Jongseo
      <span class="text-primary">Yoon</span>
    </h1>
    <div class="subheading mb-5">Software Engineer</a>
    </div>
    <p class="lead mb-5">I am an experienced Software Engineer currently residing near New York City. I love learning and building new ideas.</p>
    <p class="subheading mb-5">Get in Touch:</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/jongseo-yoon/" target="_blank">
        <i class="iconify icon:simple-icons:linkedin icon-inline:false"></i>
      </a>
      <a href="https://github.com/js0823/" target="_blank">
        <i class="iconify icon:simple-icons:github icon-inline:false"></i>
      </a>
      <a href="mailto:js0823@gmail.com" target="_blank">
        <i class="iconify icon:simple-icons:gmail icon-inline:false"></i>
      </a>
    </div>
</div>
{% endblock about %}