{% extends 'personal_portfolio/base.html' %}
{% block about %}
<div class="w-100">
    <h1 class="mb-0">Jongseo
      <span class="text-primary">Yoon</span>
    </h1>
    <div class="subheading mb-5">110 River Drive Apt. 528 · Jersey City, NJ 07310 · (617) 997-7605 ·
      <a href="mailto:js0823@gmail.com">js0823@gmail.com</a>
    </div>
    <p class="lead mb-5">Write your one paragraph introduction here.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/jongseo-yoon/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/js0823/">
        <i class="fab fa-github"></i>
      </a>
    </div>
</div>
{% endblock about %}