{% extends 'personal_portfolio/about.html' %}
{% block education %}
<div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Tufts University</h3>
        <div class="subheading mb-3">Master of Science</div>
        <div>Computer Science</div>
        <!-- <p>GPA: 3.23</p> -->
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">May 2019</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Boston University</h3>
        <div class="subheading mb-3">Bachelor of Arts</div>
        <div>Computer Science</div>
        <!-- <p>GPA: 3.56</p> -->
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">May 2010</span>
      </div>
    </div>

</div>
{% endblock education %}