{% extends 'personal_portfolio/education.html' %}
{% block experience %}
<div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Software Engineer in Radiology</h3>
            <div class="subheading mb-3">Computational Radiology Laboratory, Boston Children's Hospital</div>
            <ul>
                <li>Developed image pre-processing and visualizer software for MRI data in C++.</li>
                <li>Managed and maintained first release of software developed in the laboratory for Windows, Mac, and Linux to the public.</li>
                <li>Designed and built laboratory’s first HPC clusters, with custom Docker images for easier access.</li>
                <li>Undertook system administration for the laboratory in Linux environment.</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">June 2013 - June 2017</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary">Boston, MA</span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Research Assistant II</h3>
            <div class="subheading mb-3">Center for Molecular Imaging, Beth Israel Deaconess Medical Center</div>
            <ul>
                <li>Developed software in C++/C# for three of the six robotics workstations designed to accelerate discovery of small molecules via automated synthesis, screening, and identification processes.</li>
                <li>Collaborated with researchers to evaluate the integrated robotics workstations and produce results for scientific paper.</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">August 2011 - May 2013</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary">Boston, MA</span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Software Engineer and Image Analysis Associate</h3>
            <div class="subheading mb-3">invicro, LLC</div>
            <ul>
                <li>Developed feature in C++ to automatically draw boundaries on region of interest on user’s input and generate data for medical imaging analysis.</li>
                <li>Wrote automated test script to evaluate the company’s website daily and notify administrators if errors or bugs are found.</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Mar 2011 - August 2011</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary">Boston, MA</span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Research Assistant I</h3>
            <div class="subheading mb-3">Center for Molecular Imaging, Beth Israel Deaconess Medical Center</div>
            <ul>
                <li>Contributed to the overall design of the integrated robotics workstations for automated synthesis, screening, and identification processes for small molecules.</li>
                <li>Developed software in Java to calculate and predict outcomes for different chemical structures for small molecules using JChem API.</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">June 2010 - Mar 2011</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary">Boston, MA</span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Software Engineer</h3>
            <div class="subheading mb-3">Nextplay Studio, NCSoft</div>
            <ul>
                <li>Optimized game client written in C++ and Lua, achieving maximum concurrent users per server from 300 concurrent users to more than 800 concurrent users per server.</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">January 2009 - June 2009</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary">Seoul, South Korea</span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
            <h3 class="mb-0">Software Engineer Intern</h3>
            <div class="subheading mb-3">Nextplay Studio, NCSoft</div>
            <ul>
                <li>Fixed bugs reported by testers for the MMORPG written in C++ and Lua.</li>
                <li>Added new feature to show boxes around objects for the in-house software tools used by game designers.</li>
            </ul>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">October 2008 - Dec 2008</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary">Seoul, South Korea</span>
            </div>
        </div>
    </div>
</div>
{% endblock experience %}