{% extends 'personal_portfolio/skills.html' %}
{% block presentations %}
<div class="w-100">
    <h2 class="mb-5">Presentations</h2>
    <p>Haley Goodwill, <b>Jongseo Yoon</b>, Jeong Heon Lee, Summer L. Gibbs, Ph.D., Hak Soo Choi, Ph.D., John V. Frangioni, M.D., Ph.D., 2012: Automated High-Throughput In Vitro Drug Screening for Tuberous Sclerosis Complex and Lymphangioleiomyomatosis. PerkinElmer Owners Group Revolutionaries for Global Health Summit, Newton MA.</p>
    <p class="mb-0"><b>Jongseo Yoon</b>, Kai Bao, Mark M. Bordo, Haley Goodwill, Jeong Heon Lee, Rafiou Oketokoun, summer L. Gibbs, Ph.D., Hak Soo Choi, Ph.D., John V. Frangioni, M.D., Ph.D., 2012: An Automated Chemistry System for Combinatorial Synthesis of Nerve-Targeting Agents. PerkinElmer Owners Group Revolutionaries for Global Health Summit, Newton MA.</p>
</div>
{% endblock presentations %}