{% extends 'personal_portfolio/experience.html' %}
{% block projects %}
<div class="w-100">
    <h2 class="mb-5">Projects</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Trashbot - Environmentally Friendly Robot</h3>
            <div class="subheading mb-3">Tufts University</div>
            <p>blah</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Jan 2019 - May 2019</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Trashbot - Environmentally Friendly Robot</h3>
            <div class="subheading mb-3">Tufts University</div>
            <p>blah</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Jan 2019 - May 2019</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Trashbot - Environmentally Friendly Robot</h3>
            <div class="subheading mb-3">Tufts University</div>
            <p>blah</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Jan 2019 - May 2019</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
            <h3 class="mb-0">Software Engineer Intern</h3>
            <div class="subheading mb-3">Nextplay Studio, NCSoft</div>
            <p>blah</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">October 2008 - Dec 2008</span>
        </div>
    </div>
</div>
{% endblock projects %}