{% extends 'personal_portfolio/experience.html' %}
{% block projects %}
<div class="w-100">
    <h2 class="mb-5">Projects</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-2">Grocery Delivery Notifier</h3>
            <p>Auto grocery delivery notifier which currently works on Amazon Fresh and WholeFoods. It automatically notifies the user when delivery date is available.</p>
            <a href="https://github.com/js0823/GroceryDeliveryNotifier" target="_blank" class="fas fa-external-link-alt" role="button">View code</a>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Mar 2020</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-2">Trashbot - Environmentally Friendly Robot</h3>
            <p>Developed robot application for mobile robot that roams around specific area and use an attached camera to detect trash on the ground in real-time using a deep learning method called YOLO and notifies the user and its surroundings using voice when trash is found.</p>
            <a href="https://github.com/js0823/trashbot" target="_blank" class="fas fa-external-link-alt" role="button">View code</a>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Spring 2019</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-2">Robust Bayesian Neural Network</h3>
            <p>Investigate Bayesian Neural Network (BNN) against traditional neural networks and show that BNN is more robust against adversarial examples than traditional neural networks.</p>
            <a href="https://github.com/js0823/RobustBNN" target="_blank" class="fas fa-external-link-alt" role="button">View code</a>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Fall 2018</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-2">Path Planning Amidst Moving Obstacles</h3>
            <p>Implemented Deep Q-network in python, a deep reinforcement learning technique, for path planning on a mobile robot amidst moving obstacles in simulated ROS environment.</p>
            <a href="https://github.com/js0823/gym-gazebo" target="_blank" class="fas fa-external-link-alt" role="button">View code</a>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Fall 2018</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
            <h3 class="mb-2">Pathify – Investigation into Real Time Path Planning and Optimization</h3>
            <p>Developed a method where the mobile robot autonomously explores unknown spaces on the map using modified A* algorithm and mark point of interests using computer vision technique in real-time in C++.</p>
            <a href="https://github.com/js0823/pathify" target="_blank" class="fas fa-external-link-alt" role="button">View code</a>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Fall 2017</span>
            <div class="resume-loc text-md-right">
                <span class="text-primary"></span>
            </div>
        </div>
    </div>
</div>
{% endblock projects %}